<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <title>
         
        Home 
        
    </title>
    <meta name="description" content />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    
    <meta property="og:site_name" content="Vincibean" />
    <meta property="og:title" content=" Home " />
    
      
      <meta property="og:description" content="Just a Bunch of Tips" />
      
    
    <meta property="og:image" content=" ../assets/img/icosaedron.svg " />
    <meta property="og:url" content="https://vincibean.github.io">
    <meta property="og:type" content="blog" />
    
  
    <link rel="canonical" href="https://vincibean.github.io" />
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400,400i,700,700i/Open+Sans:400,400i,700,700i">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />
    <link rel="stylesheet" type="text/css" media="print" href="../assets/css/print.css" />
  </head>
  

  <body>

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        <div class="teaserimage">
    <div class="teaserimage-image" style="background-image: url('../assets/img/geometric.jpg')">
        Teaser Image
    </div>
</div>

<header class="blog-header">
    
      <a class="blog-logo" href="./index.html" style="background-image: url('../assets/img/icosaedron.svg')"> Vincibean </a>
    
    <h1 class="blog-title"> Vincibean </h1>
    <h2 class="blog-description"> Just a Bunch of Tips </h2>
    <div class="custom-links">
      <!-- {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %} -->
      <a href="./about.html">About</a>
    </div>
</header>


<main class="content" role="main">

    <!-- {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>Featured</span></h5>

    <div class="container featured">
      for(posts)
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="url" itemprop="url">title</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="date">date</time>
            </div>
          </div>
        </article>
      endfor
    </div>

    <h5 class="index-headline normal"><span>Regular</span></h5>
    {% endif %} -->
    
    <div class="cf frame">
      
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="./posts/2022-03-12-My-First-Month-as-an-Indie-Game-Developer.html" itemprop="url">My first month as an indie game developer</a></h2>
            </header>
            <!-- <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section> -->
            <div class="post-meta">
              <time datetime="March 12, 2022">March 12, 2022</time>
            </div>
          </div>
        </article>
      
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="./posts/2020-08-15-Combine-tests-in-Hspec.html" itemprop="url">How to combine tests in Hspec?</a></h2>
            </header>
            <!-- <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section> -->
            <div class="post-meta">
              <time datetime="August 15, 2020">August 15, 2020</time>
            </div>
          </div>
        </article>
      
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="./posts/2018-02-07-Variance-in-Scala.html" itemprop="url">Some Thoughts about Variance in Scala</a></h2>
            </header>
            <!-- <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section> -->
            <div class="post-meta">
              <time datetime="February  7, 2018">February  7, 2018</time>
            </div>
          </div>
        </article>
      
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="./posts/2016-07-26-Spark-Count-Shuffling.html" itemprop="url">Apache Spark - Does Shuffling Occur When Count Actions are Performed?</a></h2>
            </header>
            <!-- <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section> -->
            <div class="post-meta">
              <time datetime="July 26, 2016">July 26, 2016</time>
            </div>
          </div>
        </article>
      
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="./posts/2016-02-25-Maven-Shade-Plugin.html" itemprop="url">The Shaded Documentation of Maven Shade Plugin</a></h2>
            </header>
            <!-- <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section> -->
            <div class="post-meta">
              <time datetime="February 25, 2016">February 25, 2016</time>
            </div>
          </div>
        </article>
      
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="./posts/2015-12-31-How-To_Delete_Spark_Temporary-Files.html" itemprop="url">How To Delete Spark Job Server's Temporary Files</a></h2>
            </header>
            <!-- <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section> -->
            <div class="post-meta">
              <time datetime="December 31, 2015">December 31, 2015</time>
            </div>
          </div>
        </article>
      
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="./posts/2015-12-29-Why-Am-I-Looping-Through-Options.html" itemprop="url">Why Am I Looping Through Options??</a></h2>
            </header>
            <!-- <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section> -->
            <div class="post-meta">
              <time datetime="December 29, 2015">December 29, 2015</time>
            </div>
          </div>
        </article>
      
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="./posts/2015-12-28-New-Logo-Out.html" itemprop="url">New Vincibean Logo Out!</a></h2>
            </header>
            <!-- <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section> -->
            <div class="post-meta">
              <time datetime="December 28, 2015">December 28, 2015</time>
            </div>
          </div>
        </article>
      
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="./posts/2015-12-17-How-I-Built-A-Blog-With-Jekyll.html" itemprop="url">How I Built A Blog with Jekyll avoiding Headaches, and Why You Should Too!</a></h2>
            </header>
            <!-- <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section> -->
            <div class="post-meta">
              <time datetime="December 17, 2015">December 17, 2015</time>
            </div>
          </div>
        </article>
      
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="./posts/2015-12-15-Hello-World.html" itemprop="url">Hello World!</a></h2>
            </header>
            <!-- <section class="post-excerpt" itemprop="description">
              <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </section> -->
            <div class="post-meta">
              <time datetime="December 15, 2015">December 15, 2015</time>
            </div>
          </div>
        </article>
      
    </div>

    <!-- <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href={{ "/page" | prepend: site.baseurl | append: paginator.next_page }}>&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href={{ "/" | prepend: site.baseurl }}>Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href={{ "/page" | prepend: site.baseurl | append: paginator.previous_page }}>Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav> -->


    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>

      </div>
    </div>

    <!-- content end -->

    <!-- footer start -->

<footer class="site-footer">
  <!-- <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}">  -->
  <!-- <span class="tooltip"> <i class="fa fa-rss"></i> Subscribe!</span></a> -->
    <div class="inner">
         <section class="poweredby">Site proudly generated by <a href="http://jaspervdj.be/hakyll">Hakyll</a></section>
    </div>
</footer>

<!-- footer end -->

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="../assets/js/index.js"></script>
<script type="text/javascript" src="../assets/js/readingTime.min.js"></script>
<script type="text/javascript" src="../assets/js/postImage.js"></script>


  </body>

</html>
